@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@font-face {
  font-family: clash;
  src: url(ClashDisplay-Regular.otf);
}
@font-face {
  font-family: neutral;
  src: url(NeutralFace.otf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    cursor: none;
}
html{
 scroll-behavior: smooth;
}
:root{
  --background:black;
  --text: white;
  --box-shadow: 0 0 20px rgba(246, 244, 244, 0.229);
}
body{
    background-color: var(--background);
    font-family: 'open sans';
    color: rgba(255, 255, 255, 0.911);
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  display: none;
}
.dark-mode{
  --background: white;
  --text:black;
   color: var(--text);
   --box-shadow: 0 0 30px rgba(12, 12, 12, 0.538);
  
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.container{
  margin: 1rem;
}
.label {
  width: 40px;
  height: 20px;
  background-color:rgb(50, 50, 50);
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(-22px);
}


header{
  margin-top: 1rem;
}
.nav-menu{
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.branding{
    width:60px;
    height: auto;
}


.nav-items{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1rem;
 list-style: none;
}
.links{
    color: var(--text);
    font-family: 'clash';
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
}

.links:hover{
  text-decoration: underline;
  transition: 0.5s all ease;
  font-weight: 700;
  border: none;
}
main{
  display: flex;
  flex-direction: column;

}
.marquee {
    position: relative;
    font-size: 30rem;
    height: 38rem;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index:-1;
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 68s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-88%); }
  }

  .mySlides{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dp{
    width: 48%;
    height: auto;
    margin-top: -33.5rem;
    box-shadow:var(--box-shadow);
    
  }
  .myslide2{
    display: none;
    justify-content: center;
    align-items: center;
  }
 
  .cont{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: -2rem;
    border-bottom: 1px solid var(--text);
  }
  h1{
    font-size: 1.5em;
    font-family:monospace;
    font-weight: 100; 
   }
     
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  2rem 0 0 0;
  }
  .more{
    border: 2px solid var(--text) ;
    border-radius: 50px;
    text-align: center;
    display: flex;
    font-size: 0.8rem;
    font-family: monospace;
    text-decoration: none;
    color: var(--text);
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
  }
  .more:hover{
    border-style: none;
    transition: 0.8s all ease;
    color: white;
    background-color: rgb(250, 83, 6);
  }


  .section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section-1{
    display: flex;
    width: 100%;
    font-size: 2rem;
    height: 25vw;
    justify-content: center;
    border-bottom: 1px solid var(--text);
    align-items: center;
  }
  h3{
    font-size: 3.2vw;
    width: 100%;
    font-weight: 100;
    line-height: 5rem;
    text-align: center;
    font-family: 'neutral';
    border: 1px solid var(--text);

  }
   .about-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 8rem  8rem 0  28rem;
   }
   .sp{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 30px 30px 0;
    
   }

p{
  font-size: 3.5vw;
  font-weight:bold;
  font-family: 'clash';
  width: 100%;
  line-height: 3.8rem;
}
.p1{
 margin-top: 5rem;
}


.btn-dark{
  margin: 5rem 0 2rem 0;
  background-color: var(--background);
  padding: 20px;
  border: 1px solid var(--text);
  color: var(--text);
  text-decoration: none;
  font-family: 'clash';
  font-weight: bold;
 
 }
 .btn-dark:hover{
   transition: 0.8s all ease;
  background-color: rgb(255, 60, 0);
  border: none;
  color: white;
 }

.section-2{
  margin: 8rem 0 5rem 0;
}
 .marquee1 {
  position: relative;
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'clash';
  height: 12rem;
  border-top: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
  overflow-x: hidden;
  overflow-y: hidden;
}

.marquee3 {
  position: relative;
  font-size: 10rem;
  margin-top: -7rem;
  text-transform: uppercase;
  text-shadow: 5px 5px var(--background);
  font-weight: 700;
  font-family: 'clash';
  height: 12rem;
  background-color:rgb(255, 60, 0);
  border-top: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
  overflow-x: hidden;
  overflow-y: hidden;
}

.track1 {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 48s linear infinite;
}

h6{
  font-size: 10rem;
  text-transform: uppercase;
  font-family: 'clash';
  white-space: nowrap;
  animation: marquee 18s linear infinite;
}

.work{
  max-width: 1920px;
  padding: 0 40px;
}

.work-experince{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
   
}

.parallax{
  background-image:url(2.jpg);
  height:800px;
  background-size:100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:contain;
  margin:auto;
}

.parallax-1{
  background-image:url(1.jpg);
  height:800px;
  background-size:100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  
}
.parallax-2{
  background-image:url(3.jpg);
  background-size:100%;
  height:800px;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}
.parallax-3{
  background-image:url(4.jpg);
  background-size:100%;
  height:800px;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  
}
.parallax-4{
  background-image:url(5.jpg);
  background-size:100%;
  height:800px;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  
}

.exp{
  font-size: 10px;
  line-height: 13px; 
  text-transform: uppercase;
  font-family: 'IBM Plex Mono';
  font-weight: lighter;
  width: fit-content;
  display: block;
  text-align: center;
}
h2{
  font-size: 436px;
  font-family: 'clash';
  text-transform: uppercase;
}
.p5{
  font-size: 15vw;
  text-align: center;
  font-family: 'clash';
  width: 50%;
  font-weight: bold;
  margin: 2rem 0 0 0 ;
}
.head{
  font-size: 10vw;
  font-family:'clash';
  margin-top: 10rem;
  margin-bottom: 8rem;
  font-weight: bold;
  text-align: center;
}
.expertise{
  height:110vh;
  background-color: var(--text);
}
.h1{
  font-size: 12vw;
  color: var(--background);
  font-weight: bold;
  font-family: 'clash';
  text-align: center;
  text-decoration: underline ;
}
.marquee2{
  position: relative;
  font-size: 8rem;
  margin-top: 2rem;
  height: 12rem;
  color: var(--background);
  overflow-x: hidden;
  overflow-y: hidden;
  font-weight: bold;
  font-family: 'clash';
  background-color:rgb(255, 60, 0);
}

.track2{
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 68s linear infinite;
}

@keyframes marquee{
  from { transform: translateX(0); }
  to { transform: translateX(-88%); }
}
 

// contact form//

.contact{
  display: flex;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
}
form{
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  gap: 2rem;
  
}
.touch{
  font-size: 10vw;
  font-weight: 700;
  margin: 5rem 0 0  0;
  letter-spacing: 0.5rem;
  font-family: 'clash';
  text-align: center;
  
}

textarea,input{
  border: 0;
  margin: 10px;
  outline: none;
  border-bottom: 1px solid var(--text);
  padding: 20px;
  overflow: hidden;
  color: var(--text);
  font-size: 1rem;
  background-color: var(--box-shadow);
  font-family: sans-serif;
}

#send{
  padding: 15px;
  font-size: 1rem;
  border: 1px solid var(--text);
  cursor: pointer;
  width: 20%;
  border-radius: 25px;
  height: 50px;
  background-color: var(--box-shadow);
  color: var(--text);
  transition: all 0.3s ease;
}
#send:hover{
  background-color:rgb(255, 60, 0);
  border: none;
}

.s{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  flex-direction: column;
  max-width: 1920px;
}
.social{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  
}
.heading4{
  margin-bottom: 5rem;
  font-size: 12vw;
  font-family: 'clash';
  text-decoration: underline 2px;
  text-align: center;
}
.social-links{
  font-size:1.2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 50%;
  font-family: 'IBM Plex Mono', monospace;
  height: 380px;
  width: 380px;
  transition: all 0.8s ease;
}

.social-links:hover{
  background-color: rgb(255, 60, 0);
  text-decoration: underline 1px;
}
.arr{
  font-size: 2em;

}
footer{
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 60, 0);
}

.li{
  color: white;
  text-decoration: none;
  list-style: none;
  font-family: 'IBM Plex Mono';
  font-size: 12px;
  padding: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease ;
  
}
.li:hover{
  color: black;
}
.heading5{
  font-size: 12vw;
  font-family: 'clash';
  color: white; 
  text-decoration: underline 5px;
}


.trademark{
  font-size: 12px;
  font-family: 'ibm plex mono';
  justify-content: space-evenly;
  width: 90%;
  align-items: center;
  display: flex;
}
.email{
  text-decoration: none;
  color: white;
}
.email:hover{
  color: black;
}
.foot,li{
  display: flex;
  flex-direction: column;
  height: fit-content;
  list-style: none;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'ibm plex mono';
}


